{% extends "base.html" %}
{% block title %}{{ block.super }} {{ name }}{% endblock title %}
{% block content %}
    <h1>Questions {{ name }} by {{ user }}</h1>
    {% for question in test %} 
        <li>{{ question }}?</li>
        {% for answer in answers %}
            {% if answer.question == question %}
                <ul><a href="{% url 'select_answer' name answer.pk %}">
                {% for student_answer in student_answers %}
                    {% if student_answer.question == answer.question and student_answer.answer == answer %}                        
                        &#128073;
                    {% endif %}
                {% endfor %}              
                &#10687; {{ answer }}</a></ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <ul><a href="{% url 'student_result' name %}">Send your test</a></ul>
{% endblock content %}

{% comment %} &#x2610; &#x2611; &#187; &#127383; &#10687;{% endcomment %}
