<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Testing{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <span class="logo">Testing</span>
        <ul>
            <li><a href="{% url 'index' %}">Main Page</a></li>
            <li><a href="{% url 'test_list' %}">Tests</a></li>
        </ul>
    </header>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer %}{% endblock footer %}
        <p>&copy; 2024 PTU_20
            <a style="float:right;" href="{% static 'img/db_concept.png' %}" target="_blank">Database Concept</a>
        </p>
    </footer>
</body>
</html>
