<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Testing{% endblock title %}</title>
</head>
<body>
    <header>
        <span class="logo">Testing</span>
        <ul>
            <li><a href="{% url 'index' %}">Main Page</a></li>
            <li><a href="{% url 'test_list' %}">Tests</a></li>
        </ul>
    </header>
    <main>{% block content %}{% endblock content %}</main>
</body>
</html>